# Use UTF-8
AddDefaultCharset utf-8

# Set a mime type for .m4a (AAC) files
AddType audio/x-m4a m4a

# Enable mod_rewrite
RewriteEngine on

# Redirect moonwatch.band to Facebook page
RewriteCond %{HTTP_HOST} moonwatch.band$ [NC]
RewriteRule ^(.*)$ https://www.facebook.com/moonwatch.band [R=302,L]

# Force redirect to breun.nl
RewriteCond %{HTTP_HOST} !^breun\.nl$ [NC]
RewriteRule ^(.*)$ https://breun.nl/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://breun.nl/$1 [R=301,L]

# Redirect old Atom/RSS URLs
RewriteRule ^(atom|rss)\.xml$ /feed.xml [R=301,L]
