<!DOCTYPE html>
{{- $lang := "" -}}
{{- if and .IsPage (eq .Section "posts") -}}
  {{- if not .Params.lang -}}
    {{- errorf "Post %q is missing required 'lang' parameter in front matter" .File.Path -}}
  {{- end -}}
  {{- $lang = .Params.lang -}}
{{- else -}}
  {{- $lang = .Params.lang | default site.Language.Lang | default "en" -}}
{{- end -}}
<html lang="{{ $lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>

        <link rel="canonical" href="{{ .Permalink }}">

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}

        <!-- Preconnect hints for Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- syntax highlighting CSS -->
        {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $syntax.RelPermalink }}" integrity="{{ $syntax.Data.Integrity }}" crossorigin="anonymous">

        <!-- Custom CSS -->
        {{ $main := resources.Get "css/main.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous">

        <!-- Webfonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fenix&family=Cherry+Swash:wght@700&display=swap" type="text/css">

        <!-- RSS -->
        <link rel="alternate" href="/feed.xml" title="{{ site.Title }}" type="application/rss+xml">
    </head>
    <body>
        <header>
            {{ if .IsHome }}
            <h1 class="title"><a href="/">{{ site.Title }}</a> <span class="subtitle">{{ site.Params.subtitle }}</span></h1>
            {{ else }}
            <div class="title"><a href="/">{{ site.Title }}</a> <span class="subtitle">{{ site.Params.subtitle }}</span></div>
            {{ end }}

            <div class="contact">
                <ul>
                    <li>Nils Breunese</li>
                    <li>Music &amp; Tech Geek Deluxe</li>
                    <li>Bands: <a href="https://moonwatch.band">Moonwatch</a>, <a href="https://thistlesifter.com">Thistle Sifter</a></li>
                    <li><img src="/images/feedicons-standard/feed-icon-14x14.png" aria-hidden="true"> <a href="/feed.xml">Feed</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                    <li><img src="/favicons/bandcamp.ico" aria-hidden="true"> <a href="https://bandcamp.com/breun">Bandcamp</a></li>
                    <li><img src="/favicons/bluesky.png" aria-hidden="true"> <a rel="me" href="https://bsky.app/profile/breun.nl">Bluesky</a></li>
                    <li><img src="/favicons/facebook.ico" aria-hidden="true"> <a href="https://www.facebook.com/breun">Facebook</a></li>
                    <li><img src="/favicons/flickr.ico" aria-hidden="true"> <a href="https://www.flickr.com/photos/breun/">Flickr</a></li>
                    <li><img src="/favicons/github.ico" aria-hidden="true"> <a rel="me" href="https://github.com/breun">GitHub</a></li>
                    <li><img src="/favicons/instagram.ico" aria-hidden="true"> <a href="https://www.instagram.com/breun/">Instagram</a></li>
                    <li><img src="/favicons/lastfm.ico" aria-hidden="true"> <a href="https://www.last.fm/user/breun">Last.fm</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                    <li><img src="/favicons/linkedin.ico" aria-hidden="true"> <a href="https://www.linkedin.com/in/breun">LinkedIn</a></li>
                    <li><img src="/favicons/mastodon.ico" aria-hidden="true"> <a rel="me" href="https://mastodon.online/@breun">Mastodon</a></li>
                    <li><img src="/favicons/pixelfed.png" aria-hidden="true"> <a rel="me" href="https://pixelfed.social/breun">Pixelfed</a></li>
                    <li><img src="/favicons/slideshare.ico" aria-hidden="true"> <a href="https://www.slideshare.net/breun">SlideShare</a></li>
                    <li><img src="/favicons/soundcloud.ico" aria-hidden="true"> <a href="https://soundcloud.com/breun">SoundCloud</a></li>
                    <li><img src="/favicons/x.ico" aria-hidden="true"> <a href="https://x.com/breun">X</a></li>
                    <li><img src="/favicons/youtube.ico" aria-hidden="true"> <a href="https://www.youtube.com/user/thebreun">YouTube</a></li>
                </ul>
            </div>
        </header>

        {{ block "main" . }}{{ .Content }}{{ end }}

        <footer>
            &copy; {{ now.Format "2006" }} {{ site.Params.author }}
        </footer>
    </body>
</html>
