<!DOCTYPE html>
{{- $lang := "" -}}
{{- if and .IsPage (eq .Section "posts") -}}
  {{- if not .Params.lang -}}
    {{- errorf "Post %q is missing required 'lang' parameter in front matter" .File.Path -}}
  {{- end -}}
  {{- $lang = .Params.lang -}}
{{- else -}}
  {{- $lang = .Params.lang | default site.Language.Lang | default "en" -}}
{{- end -}}
<html lang="{{ $lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>

        <link rel="canonical" href="{{ .Permalink }}">

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}

        <!-- Preconnect hints for Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- syntax highlighting CSS -->
        {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $syntax.RelPermalink }}" integrity="{{ $syntax.Data.Integrity }}" crossorigin="anonymous">

        <!-- Custom CSS -->
        {{ $main := resources.Get "css/main.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous">

        <!-- Webfonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fenix&family=Cherry+Swash:wght@700&display=swap" type="text/css">

        <!-- RSS -->
        <link rel="alternate" href="/feed.xml" title="{{ site.Title }}" type="application/rss+xml">
    </head>
    <body>
        <header>
            {{ if .IsHome }}
            <h1 class="title"><a href="/">{{ site.Title }}</a> <span class="subtitle">{{ site.Params.subtitle }}</span></h1>
            {{ else }}
            <div class="title"><a href="/">{{ site.Title }}</a> <span class="subtitle">{{ site.Params.subtitle }}</span></div>
            {{ end }}
        </header>

        {{ block "main" . }}{{ .Content }}{{ end }}

        <footer>
            &copy; {{ now.Format "2006" }} {{ site.Params.author }}
        </footer>
    </body>
</html>
