{{ define "main" }}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ time.Format "2 January 2006" .Date }}</time>
    </header>
    {{ .Content }}
  </article>
  <nav class="post" aria-label="Post navigation">
    {{ with .PrevInSection }}
    <span class="prev">&laquo; <a rel="prev" href="{{ .RelPermalink }}">{{ .Title }}</a></span>
    {{ end }}
    {{ with .NextInSection }}
    <span class="next"><a rel="next" href="{{ .RelPermalink }}">{{ .Title }}</a> &raquo;</span>
    {{ end }}
  </nav>
</main>
<section class="contact-section">
    {{ partial "contact.html" . }}
</section>
{{ end }}
