<div class="contact">
    <ul>
        <li>Nils Breunese</li>
        <li>Music &amp; Tech Geek Deluxe</li>
        <li>Bands: <a href="https://moonwatch.band">Moonwatch</a>, <a href="https://thistlesifter.com">Thistle Sifter</a></li>
        <li><img src="/images/feedicons-standard/feed-icon-14x14.png" aria-hidden="true"> <a href="/feed.xml">Feed</a></li>
    </ul>
</div>
<div class="contact social-links">
    <ul>
        <li><img src="/favicons/bandcamp.ico" aria-hidden="true" alt=""> <a href="https://bandcamp.com/breun">Bandcamp</a></li>
        <li><img src="/favicons/bluesky.png" aria-hidden="true" alt=""> <a rel="me" href="https://bsky.app/profile/breun.nl">Bluesky</a></li>
        <li><img src="/favicons/facebook.ico" aria-hidden="true"> <a href="https://www.facebook.com/breun">Facebook</a></li>
        <li><img src="/favicons/flickr.ico" aria-hidden="true"> <a href="https://www.flickr.com/photos/breun/">Flickr</a></li>
        <li><img src="/favicons/github.ico" aria-hidden="true"> <a rel="me" href="https://github.com/breun">GitHub</a></li>
        <li><img src="/favicons/instagram.ico" aria-hidden="true"> <a href="https://www.instagram.com/breun/">Instagram</a></li>
        <li><img src="/favicons/lastfm.ico" aria-hidden="true"> <a href="https://www.last.fm/user/breun">Last.fm</a></li>
        <li><img src="/favicons/linkedin.ico" aria-hidden="true" alt=""> <a href="https://www.linkedin.com/in/breun">LinkedIn</a></li>
        <li><img src="/favicons/mastodon.ico" aria-hidden="true"> <a rel="me" href="https://mastodon.online/@breun">Mastodon</a></li>
        <li><img src="/favicons/pixelfed.png" aria-hidden="true"> <a rel="me" href="https://pixelfed.social/breun">Pixelfed</a></li>
        <li><img src="/favicons/slideshare.ico" aria-hidden="true"> <a href="https://www.slideshare.net/breun">SlideShare</a></li>
        <li><img src="/favicons/soundcloud.ico" aria-hidden="true"> <a href="https://soundcloud.com/breun">SoundCloud</a></li>
        <li><img src="/favicons/x.ico" aria-hidden="true"> <a href="https://x.com/breun">X</a></li>
        <li><img src="/favicons/youtube.ico" aria-hidden="true"> <a href="https://www.youtube.com/user/thebreun">YouTube</a></li>
    </ul>
</div>
