<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css" type="text/css">

        <!-- Webfonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fenix|Cherry+Swash:700" type="text/css">

        <!-- RSS -->
        <link rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.name }}" type="application/rss+xml">
    </head>
    <body>
        <header>
            <h1 class="title"><a href="/">{{ site.name }}</a> <span class="subtitle">Vraag jezelf: "Wat doe ik hier?"</span></h1>
        </header>

        {{ content }}

        <footer>
            <div class="contact">
                <p>
                    <ul>
                        <li>breun</li>
                        <li>Music &amp; Tech Geek Deluxe</li>
                    </ul>
                </p>
            </div>
            <div class="contact">
                <p>
                    <ul>
                        <li><img src="http://s0.bcbits.com/img/bc_favicon.ico" alt="Bandcamp icon"> <a href="http://bandcamp.com/breun">Bandcamp</a></li>
                        <li><img src="https://delicious.com/favicon.ico" alt="Delicious icon"> <a href="http://delicious.com/breun">Delicious</a></li>
                        <li><img src="http://www.facebook.com/favicon.ico" alt="Facebook icon"> <a href="https://www.facebook.com/breun">Facebook</a></li>
                        <li><img src="http://www.flickr.com/favicon.ico" alt="Flickr icon"> <a href="http://www.flickr.com/photos/breun/">Flickr</a></li>
                        <li><img src="http://github.com/favicon.ico" alt="GitHub favicon"> <a href="http://github.com/breun">GitHub</a></li>
                        <li><img src="http://www.imdb.com/favicon.ico" alt="IMDb favicon"> <a href="http://www.imdb.com/mymovies/list?l=30294462">IMDb MyMovies</a></li>
                        <li><img src="http://www.last.fm/favicon.ico" alt="Last.fm favicon"> <a href="http://www.last.fm/music/breun">Last.fm artiestenpagina</a></li>
                        <li><img src="http://www.last.fm/favicon.ico" alt="Last.fm favicon"> <a href="http://www.last.fm/user/breun">Last.fm profiel</a></li>
                    </ul>
                </p>
            </div>
            <div class="contact">
                <p>
                    <ul>
                        <li><img src="http://www.linkedin.com/favicon.ico" alt="LinkedIn favicon"> <a href="http://www.linkedin.com/in/breun">LinkedIn</a></li>
                        <li><img src="http://www.slideshare.net/favicon.ico" alt="SlideShare favicon"> <a href="http://www.slideshare.net/breun">SlideShare</a></li>
                        <li><img src="http://soundcloud.com/favicon.ico" alt="SoundCloud favicon"> <a href="http://soundcloud.com/breun">SoundCloud</a></li>
                        <li><img src="http://www.thisismyjam.com/includes/image/favicon.ico" alt="This Is My Jam favicon"> <a href="http://www.thisismyjam.com/breun">This Is My Jam</a></li>
                        <li><img src="http://twitter.com/favicon.ico" alt="Twitter favicon"> <a href="https://twitter.com/breun">Twitter</a></li>
                        <li><img src="http://www.vimeo.com/favicon.ico" alt="Vimeo favicon"> <a href="http://www.vimeo.com/breun">Vimeo</a></li>
                        <li><img src="http://www.youtube.com/favicon.ico" alt="YouTube favicon"> <a href="http://www.youtube.com/user/thebreun">YouTube</a></li>
                    </ul>
                </p>
            </div>
        </footer>
    </body>
</html>
